/* interview.css */

.image-extension-teaser {
  float:right;
  margin-right: 15px;
  padding-left: 10px;
}

.image-extension-page {
        float: right;
        padding: 5px 5px 5px 5px;
}

.veuremes {
        font-weight: bold;
}

.question {
	font-weight:bold;
	font-size:1.2em;
}

.lead {
	font-style:italic;
}

.lead-full {
	font-style:italic;
}

.image-box {
	float:right;
	width:200px;
	margin-left: 10px;
}

.image-box .footer {
	font-size:0.8em;
}

.highlight {
  float: right;
  margin: 40px 0px 15px 10px;
  line-height: 20px;
  font-size: 1.4em;
  font-weight: bold;
}

.subtitle {
  font-size: 11px;
  font-weight: bold;
}
